[Desktop Entry]
Name=Nitrokey App
GenericName=Nitrokey Management Application
Comment=Manage your Nitrokey sticks
TryExec={{ nitrokey_dir }}/{{ nitrokey_app }}
Exec={{ nitrokey_dir }}/{{ nitrokey_app }}
Icon=nitrokey-app
Type=Application
Categories=Utility;Security;Qt;
Keywords=Nitrokey;OpenPGP;smart card;
