[Unit]
Description=Grafana

[Service]
User={{ grafana_user }}
ExecStart={{ grafana_dir }}/bin/grafana-server \
    -config={{ grafana_dir }}/conf/{{ grafana_config }} \
    -homepath={{ grafana_dir }}

[Install]
WantedBy=multi-user.target
